{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Felipe Velasco</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    </head>
    <body>
        
        <div class="bg-dark">
            <div>
                <div class="col-md-12"></div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="http://127.0.0.1:8000/index/"><img src="{% static 'img/logo.png' %}" class="logo" alt="">
          <logo></logo></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pinturas
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://127.0.0.1:8000/carrito/">Comprar</a>
            <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Galeria</a>   
                  </div>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blog
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Galeria de usuarios</a>
                  <a class="dropdown-item" href="#">Sube tu pintura</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="http://127.0.0.1:8000/carrito/">Contacto</a>
                </div>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/login/">Login</a>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link enable" href="http://127.0.0.1:8000/Contacto/" tabindex="-1" >Contacto</a>
              </li>
              
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            
          </div>
        </nav>
              
            </div>
          </nav>
          <a href="http://127.0.0.1:8000/Pagina2/">
            <ul class="volver">
            <button type="button" class="btn btn-danger">Volver</button></ul></a>
          <ul class="tituloimg">
          <h1>CUADRO#2</h1>
          </ul>
          <span class="linea"></span>
          <section class="imagen2">
              <a href="#img1">
                <img src="{%static 'img/slider2.jpg' %}" alt=""></a>
        
        <ul class="parrafoimg">
          <p>La pintura es el arte de la representación gráfica utilizando pigmentos mezclados con otras sustancias aglutinantes orgánicas o sintéticas. 
            En este arte se emplean técnicas de pintura, conocimientos de teoría del color y de composición pictórica, y el dibujo.
             La práctica del arte de pintar, consiste en aplicar, en una superficie determinada —una hoja de papel, un lienzo, un muro, una madera, un fragmento de tejido, etc.
             — una técnica determinada, para obtener una composición de formas, colores, texturas, dibujos, etc. dando lugar a una obra de arte según algunos principios estéticos.

            El arquitecto y teórico del clasicismo André Félibien, en el siglo XVII, 
            en un prólogo de las Conferencias de la Academia francesa hizo una jerarquía de géneros de la pintura clásica:
             «la historia, el retrato, el paisaje, los mares, las flores y los frutos».
            
            La pintura es una de las expresiones artísticas más antiguas y una de las siete Bellas Artes. En estética o teoría del arte, 
            la pintura está considerada como una categoría universal que comprende todas las creaciones artísticas hechas sobre superficies.
             Una categoría aplicable a cualquier técnica o tipo de soporte físico o material, 
             incluidos los soportes o las técnicas efímeras así como los soportes o las técnicas digitales.
            
            Una parte de la historia de la pintura en el arte oriental y occidental está dominada por el arte religioso. 
            Los ejemplos de este tipo de pintura van desde obras de arte que representan figuras mitológicas en cerámica, 
            a escenas bíblicas del techo de la Capilla Sixtina, a escenas de la vida de Buda u otras imágenes de origen religioso oriental.</p>     
            
        </ul>
           
          </section>


          <footer class="site-footer">
            <center>
                <Br>
                  <h3>FOLLOW US!</h3>
                  <p>
                    <a target="_blank" href="https://www.twitter.com/" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a target="_blank" href="https://www.instagram.com/" class="p-2"><span class="fa fa-instagram"></span></a>
                  </p>
              </center>
              <div class="row justify-content-center">
                <div class="col-md-7 text-center">
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | FV </a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
              </div>
            </div>
          </footer>





        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>